body{
	font-family:Courier New;
}

#contener{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.description{
	width:500px;
	border: 1px solid black;
	margin: 50px;
	padding: 10px;
	font-size:large;
}