body{
	font-family:Courier New;
}

.contener{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:center;
}

#presentation{
	background-color:#830de5;
	width:auto;
	font-size:large;
	
	margin:auto;
	
	padding:25px;
	
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	
	color:white;
}

#competences{
	background-color:white;
	width:auto;
	font-size:large;
	
	margin:auto;
	
	padding:25px;
	
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	
}

#resauxsocio{
	background-color:#830de5;
	width:auto;
	font-size:large;
	
	margin:auto;
	
	padding:25px;
	
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	
	color:white;
}

.text{
	padding:50px;
	
	width:500px;
	
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: center;
}
.avatar{
	padding:50px;
	
	width:auto;
	height:auto;
	max-width:250px;
	max-height:250px;
	
}

.deco{
	color:white;
	background-color:#2b034d;
}

.subtitle{
	margin-top:-25px;
	margin-left:5px;
}

.links{
	padding:10px;
	
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content: flex-start;
}

.icon{
	margin:5px;
	margin-left:10px;
	
	width:auto;
	height:auto;
	max-width:75px;
	max-height:75px;
}